<script type="text/x-template" id="head-template">
    <div id="orderItem">
        <!-- <router-link :to="{name:'customizedOrderDetail',params:{order_sn:item.order_sn}}"> -->
            <div class="time">
                <span class="l">{{item.update_time}}</span>
                <span class="status">{{item.status}}</span>
            </div>
            <div class="container vux-1px-tb">
                <div class="images">
                    <img :src="url(item.photo[0])" class="img">
                </div>
                <div class="desc">
                    <p>
                        <span v-for="(i,index) in item.category" :key="index.id" class="span">{{i.name}}</span>
                    </p>
                    <p>{{item.lastname}}女士</p>
                </div>
            </div>
        <!-- </router-link> -->
    </div>
</script>
